/* CSS reset */
* {
	margin:0;
	padding:0;
}

header {
	background-color:lightskyblue;
	margin-left: 10px;
	margin-right: 10px;
}

nav {
	background-color: mediumslateblue;
	margin-left: 10px;
	margin-right: 10px;
}

main {
	background-color: orange;
	margin-left: 10px;
	margin-right: 10px;
}

section {
	background-color:lightpink;
	margin-left: 10px;
	margin-right: 10px;
}

article {
	background-color:yellowgreen;
	margin-left: 10px;
	margin-right: 10px;
}

aside {
	background-color:powderblue;
	margin-left: 10px;
	margin-right: 10px;
}

footer {
	background-color:orangered;
	margin-left: 10px;
	margin-right: 10px;
}